.etiqueta-time{
    margin-bottom: 10px;
    display: block;
    font-size: 12px;
}

.cont-qr{
    width: 2560x;
    height: 256px;
    display: inline-block;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }