<ion-header>
  <ion-toolbar color="verde">
    <ion-title>
      Codigo de Tarjeta
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="center">
    <ion-grid>
      <ion-row>
        <ion-col size="12" text-center>
          <div class="cont-qr">
            <qrcode qrdata="{{codigoForQR}}" [size]="256" [level]="'M'"></qrcode>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12">
            <ion-label text-center class="etiqueta-time"><span style="font-weight: bold;">Número de tarjeta:</span> {{numeroTarjeta}} </ion-label>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label text-center class="etiqueta-time">El codigo se ocultara en {{tiempo}} segundos</ion-label>
          <ion-progress-bar [color]="tiempo<10 ? 'danger' : 'verde'" color="primary" value="{{porcentaje}}">
          </ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" text-center>
          <ion-button color="verde" expand="bloack" (click)="CerrarModal()">Aceptar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>