<ion-header>
  <ion-toolbar color="verde">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="pl-0">
      Tarjetas recibidas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%" *ngIf="listTarjetas?.length==0">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-chip color="warning" class="alert-tarjetas-nothing">
        <ion-icon name="alert"></ion-icon>
        <ion-label color="dark">No tiene tarjetas recibidas</ion-label>
      </ion-chip>
    </ion-row>
  </ion-grid>


  <ion-list #listaTarjetas *ngIf="listTarjetas?.length>0">
      <ion-item *ngFor="let item of listTarjetas" (click)="verDetalle(item)" detail>
        <ion-row>
          <ion-col size="12">
            <h4>Tarjeta de ${{item?.Saldo}}</h4>
          </ion-col>
          <ion-col size="6" class="detalle-producto">
            <h5><span>Fecha:{{item?.FechaCreacion | date: 'dd/MM/yyyy'}} Enviado por:{{item.EnviadoPor}}</span></h5>
          </ion-col>
          <ion-col size="6" text-right>
          </ion-col>
          <ion-col size="12"></ion-col>
        </ion-row>
      </ion-item>
  </ion-list>
</ion-content>