h4{
    margin: 0px 0px 2px 0px;
    }
    .detalle-producto h5{
        margin: 0px;
        font-size: 12px;
        color:grey;
    }
    
    .detalle-producto h5 span{
        font-weight: bold;
    }

.alert-tarjetas-nothing{
    margin-top: 4rem;
}
