<ion-header>
  <ion-toolbar color="verde">
    <ion-buttons slot="end">
      <ion-button (click)="CerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Agregar Tarjeta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid>
      <ion-row color="success" justify-content-center align-items-center>
        <ion-col size="12" align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="cont-input" padding>
            <ion-item>
              <ion-label position="floating">Numero de la Tarjeta</ion-label>
              <ion-input [ngModel]="tarjeta|numeroTarjeta" maxlength="19" minlength="8"
                (ionChange)="validarTarjeta($event.detail.value)" type="text" name=tarjeta>
              </ion-input>
            </ion-item>
            <div *ngIf="errores.tarjeta.valido==false">
              <div *ngIf="errores.tarjeta.requerido==true" padding class="error-mensaje">
                Debe colocar un numero de tarjeta
              </div>
              <div *ngIf="errores.tarjeta.soloNumero==true" padding class="error-mensaje">
                Solo se permiten números
              </div>
              <div *ngIf="errores.tarjeta.minimo==true" padding class="error-mensaje">
                  Numero de tarjeta invalida, debe tener como minimo 8 numeros
                </div>
            </div>

            <ion-item>
              <ion-label position="floating">Monto a enviar</ion-label>
              <ion-input type="number" name="saldo" [(ngModel)]="saldo"></ion-input>
            </ion-item>
            <div *ngIf="errores.monto.valido==false">
              <div *ngIf="errores.monto.requerido==true" padding class="error-mensaje">
                Debe colocar el monto a enviar
              </div>
              <div *ngIf="errores.monto.soloNumero==true" padding class="error-mensaje">
                Debe colocar un monto mayor a cero.
              </div>
              <div *ngIf="errores.monto.mayorACero==true" padding class="error-mensaje">
                Debe colocar un monto mayor a cero.
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="full" size="large" color="verde" text-capitalize (click)="guardar()">
            Aceptar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar text-center>


  </ion-toolbar>
</ion-footer>