<ion-header>
  <ion-toolbar color="verde">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      APP Canje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/logo.jpg" alt="" />
      <ion-card-header>
        
        <ion-card-title>Bienvenido a APP Canje</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aplicación que te permite pasar tarjetas de regalos a tus amigos, familiares y a cualquier persona en cualquier parte del mundo</p>
      </ion-card-content>
    </ion-card>
    <ion-grid padding>
      <ion-row>
        <ion-col size="12">
          <ion-button color="success" class="boton" expand="block" routerLink="/enviar">
            <ion-icon name="send" padding></ion-icon> <ion-label>Enviar Tajeta</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button color="success" class="boton" expand="block" routerLink="/leer">
            <ion-icon name="qr-scanner" padding></ion-icon> <ion-label>Leer Tarjeta</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button color="primary" class="boton" expand="block" routerLink="/tarjetas">
            <ion-icon name="card" padding></ion-icon> <ion-label>Mis Tarjetas</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button color="primary" class="boton" expand="block" routerLink='/recibidas'>
            <ion-icon name="archive" padding></ion-icon><ion-label>Tarjetas recibidas</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
