<ion-header>
  <ion-toolbar color="verde">
    <ion-buttons slot="end">
      <ion-button (click)="CerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Registrarme
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario">
    <ion-grid>
      <ion-row color="success" justify-content-center align-items-center>
        <ion-col size="12" align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="cont-input" padding>
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input name="nombre" formControlName="nombre" type="text">
              </ion-input>
            </ion-item>
            <div
              *ngIf="(formulario.controls['nombre'].errors ) && (formulario.controls['nombre'].touched || formulario.controls['nombre'].dirty || pressSave) && pressSave">
              <div class="error"
                *ngIf="formulario.get('nombre').hasError('required')">
                <p>El Nombre es requerido</p>
              </div>
              <div class="error"
                *ngIf="formulario.get('nombre').hasError('maxlength')">
                <p>El Nombre solo puede tener hasta 25 letras</p>
              </div>
            </div>

            <ion-item>
              <ion-label position="floating">Apellido</ion-label>
              <ion-input name="apellido" formControlName="apellido" type="text">
              </ion-input>
            </ion-item>
            <div
              *ngIf="(formulario.controls['apellido'].errors ) && (formulario.controls['apellido'].touched || formulario.controls['apellido'].dirty || pressSave) && pressSave">
              <div class="error"
                *ngIf="formulario.get('apellido').hasError('required')">
                <p>El Apellido es requerido</p>
              </div>
              <div class="error"
                *ngIf="formulario.get('apellido').hasError('maxlength')">
                <p>El Apellido solo puede tener hasta 25 letras</p>
              </div>
            </div>

            <ion-item>
              <ion-label position="floating">Correo</ion-label>
              <ion-input name="email" formControlName="email" type="email" maxlength="50">
              </ion-input>
            </ion-item>
            <div
              *ngIf="(formulario.controls['email'].errors ) && (formulario.controls['email'].touched || formulario.controls['email'].dirty || pressSave) && pressSave">
              <div class="error"
                *ngIf="formulario.get('email').hasError('required')">
                <p>El Correo es requerido</p>
              </div>
              <div class="error" *ngIf="formulario.get('email').hasError('email') && formulario.get('email').touched">
                <p>El Correo escrito no es valido</p>
              </div>
            </div>

            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input name="password" formControlName="password" type="password" required>
            </ion-input>
            </ion-item>
            <div
              *ngIf="(formulario.controls['password'].errors ) && (formulario.controls['password'].touched || formulario.controls['password'].dirty || pressSave) && pressSave">
              <div class="error"
                *ngIf="formulario.get('password').hasError('required') ">
                <p>La contraseña es requerida</p>
              </div>
              <div class="error"
                *ngIf="formulario.get('password').hasError('maxlength') ">
                <p>La contraseña no puede tener más de 30 caracteres</p>
              </div>
              <div class="error"
                *ngIf="formulario.get('password').hasError('minlength') ">
                <p>La contraseña debe tener como minimo 8 caracteres</p>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button  expand="block" size="large"  color="verde"  (click)="guardar()">
            Aceptar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>