<ion-header>
  <ion-toolbar color="verde">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="abrirModal()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 0px;">
      Mis Tarjetas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%" *ngIf="listTarjetas?.length==0">
    <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-chip color="warning" class="alert-tarjetas-nothing">
            <ion-icon name="alert"></ion-icon>
            <ion-label color="dark">No tiene tarjetas registradas</ion-label>
          </ion-chip>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="listTarjetas?.length>0">
    <ion-item-sliding *ngFor="let item of listTarjetas">
      <ion-item (click)="verDetalle(item)">
        <ion-row style="width:100%;">
          <ion-col size="8">
            <ion-row>
              <ion-col size="12">
                <h5 class="mt-0 mb-0" style="margin-bottom: 0px; font-size: 14px; font-weight: bold;" text-uppercase>
                  Tarjeta de</h5>
              </ion-col>
              <ion-col size="12" class="detalle-producto">
                <h5 class="descripcion-columna"><span><span
                  class="descripcion-etiqueta">Numero: </span> {{item?.Numero | cardMask:4}}</span></h5>
                <h5 class="descripcion-columna"><span><span
                      class="descripcion-etiqueta">Fecha: </span>
                    {{item?.FechaCreacion | date: 'dd/MM/yyyy'}}</span></h5>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="4">
            <div class="mt-0 mb-0 t-r" style="color: #327419;">
              <ion-badge color="verde" class="font-size-monto p-saldo">${{item?.Saldo}}</ion-badge>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>