.toast-canje{
    top:20%;
}

.mt-0{
    margin-top: 0px;
}

.mb-0{
    margin-bottom: 0px;
}

.t-r{
    text-align: right;
}

.descripcion-etiqueta{
    color:#327419;font-weight: bold;
}

.descripcion-columna{
    font-size: 14px; margin-top: 0px;
}

.font-size-monto{
    font-size: 24px;
    margin-top: 30px;
}

.p-saldo{
    padding: 5px;
}