<ion-content color="verde">
    <div class="medio" text-center>
      <h1>
        <ion-icon size="large" name="checkmark-circle-outline"  style="zoom:4.0;"></ion-icon>
      </h1>
      <h2>Su tarjeta fue activada exitosamente</h2>
      <ion-button size="large" color="light" routerLink="/recibidas">Ok</ion-button>
    </div>
  </ion-content>