<ion-content padding>
  <ion-grid fixed style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; width: 100%;">
      <!-- contenido-->
      <ion-row class="ion-padding-top">
        
        <ion-col size-xs="12" text-center>
          <ion-img src="/../../assets/che-guevara.png" style="width:80%; display: inline-block;"> </ion-img>
        </ion-col>
        <ion-col   text-center class="ion-text-uppercase ">
          <h5 color="verde" class="ion-no-margin">Pronto Cash</h5>
        </ion-col>
      </ion-row>
      <ion-row style="width:100%;">
        <ion-col>
          <form [formGroup]="formLogin" (ngSubmit)="loging()">
            <ion-grid>
              <ion-row color="success" justify-content-center align-items-center>
                <ion-col size="12" align-self-center size-md="6" size-lg="5" size-xs="12">
                  <div padding class="pb-0">
                    <ion-item>
                      <ion-input name="email" formControlName="email" type="email" placeholder="Correo" required>
                      </ion-input>
                    </ion-item>
                    <div
                      *ngIf="(formLogin.controls['email'].errors ) && (formLogin.controls['email'].touched || formLogin.controls['email'].dirty) && pressLogin">
                      <div class="error"
                        *ngIf="formLogin.get('email').hasError('required') && formLogin.get('email').touched">
                        <p>El email es requerdio.</p>
                      </div>
                      <div class="error"
                        *ngIf="formLogin.get('email').hasError('email') && formLogin.get('email').touched">
                        <p>El email no es valido</p>
                      </div>
                    </div>

                    <ion-item>
                      <ion-input name="password" formControlName="password" type="password" placeholder="Contraseña"
                        required >
                      </ion-input>
                    </ion-item>
                    <div
                      *ngIf="(formLogin.controls['password'].errors ) && (formLogin.controls['password'].touched || formLogin.controls['password'].dirty || pressLogin) && pressLogin">
                      <div class="error"
                        *ngIf="formLogin.get('password').hasError('required')">
                        <p>Coloque la contraseña</p>
                      </div>
                    </div>
                  </div>
                  <div class="ion-text-center">
                    <ion-chip color="danger" *ngIf="loginFail==true">
                      <ion-icon name="alert"></ion-icon>
                      <ion-label class="font-12">El correo o la contraseña son incorrectas</ion-label>
                    </ion-chip>
                  </div>
                  <div padding>
                    <ion-button size="large" color="verde" type="submit" expand="block">
                      Login
                    </ion-button>
                    <ion-button color="medium" class="mt-2" expand="block" (click)="abrirModal()">
                      Registrarme
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
              <!-- 
                <ion-row>
                <ion-col text-center size="12">
                  <div text-center>
                    La contraseña no es necesaria por razones de prueba
                  </div>
                </ion-col>
              </ion-row>
              -->

            </ion-grid>
          </form>
        </ion-col>
      </ion-row>
      <!-- fin del contenido -->

    </ion-row>
  </ion-grid>

</ion-content>