<ion-header no-border>
    <ion-toolbar color="verde">
        <ion-buttons slot="start">
            <ion-button>
                <ion-back-button defaultHref="/home"></ion-back-button>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="escanerComplete==false">
            <ion-button disabled>
                <ion-back-button style="color:transparent;"></ion-back-button>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="escanerComplete==true">
            <ion-button (click)="escaner()">
                <ion-icon slot="icon-only" name="qr-scanner"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title text-center>
            Lectura de tarjeta
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="height: 100%" *ngIf="escanerComplete==false">
        <ion-row justify-content-center align-items-center style="height: 100%">
           <ion-button size="large" color="primary" (click)="escaner()">
                <ion-icon slot="start" name="qr-scanner"></ion-icon>Escanear</ion-button>
        </ion-row>
    </ion-grid>
    <div *ngIf="escanerComplete==true">
        <div class="center">
            <ion-grid>
              <ion-row>
                <ion-col size="12" text-center>
                  <ion-label class="circulo" >${{tarjeta?.Saldo}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="12" text-center padding>
                    <h4 class="transferencia-exitosa">Transaccion completada con exito.</h4>
                  </ion-col>
                </ion-row>
              <ion-row>
                <ion-col size="12" text-center padding>
                  <ion-label>Ustes cuenta con una tarjeta de ${{tarjeta?.Saldo}} registrada el dia
                    {{tarjeta?.FechaCreacion | date: 'dd/MM/yyyy'}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" text-center padding>
                  <ion-button expand="full" fill="solid" style="margin-bottom: 10px;" color="verde" [routerLink]="['/tarjetas']">Ver mi lista de tarjetas</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
    </div>
</ion-content>