<ion-header>
  <ion-toolbar color="verde">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/tarjetas"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 0px;">
      Detalle de Tarjeta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <ion-grid>
      <ion-row>
        <ion-col size="12" text-center>
          <ion-label class="circulo">${{tarjeta?.Saldo}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" text-center padding>
          <ion-label *ngIf="tarjetaValida===true">Ustes cuenta con una tarjeta de ${{tarjeta?.Saldo}} registrada el dia
            {{tarjeta?.FechaCreacion | date: 'dd/MM/yyyy'}}</ion-label>

            <ion-label *ngIf="tarjetaValida===false">La tarjeta de ${{tarjeta?.Saldo}} registrada el dia
                {{tarjeta?.FechaCreacion | date: 'dd/MM/yyyy'}} ya no esta disponible </ion-label>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" text-center padding>
          <ion-chip color="warning" *ngIf="tarjetaValida===false">
            <ion-icon name="alert"></ion-icon>
            <ion-label padding>La tarjeta fue transferida </ion-label>
          </ion-chip>
          <div *ngIf="tarjetaValida===true">
            <ion-button [disabled]="tarjetaValida===false" expand="full" fill="solid" style="margin-bottom: 10px;"
              color="verde" (click)="abrirModal()">Generar Código </ion-button>
            <ion-button [disabled]="tarjetaValida===false" expand="block" color="medium" (click)="ConfirmarEliminacion()">Eliminar tarjeta</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>