.font-size-monto {
  font-size: 30px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.circulo {
  border-radius: 102px;
  border: 4px solid #327419;
  width: 55%;
  height: 184px;
  display: inline-block;
  padding-top: 20%;
  color: #327419;
  font-size: 38px;
}
