
ion-item {
    border-radius: 3px !important;
    padding-left: 10px !important;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #a5a5a5;
    box-shadow: none !important;
  }
  
  ion-item {
      --border-color: var(--ion-color-danger, #f1453d);
      
    }
   
    :host {
      ion-item {
          --border-color: white; // default underline color
          --highlight-color-invalid: #13622b; // invalid underline color
          --highlight-color-valid: green; // valid underline color
          --highlight-color-focused:#13622b;
      }
  }
  

  ion-slides {
  height: 100%;
  }
  
  ion-slide {
    display: block;
  }
  
  ion-label, .select-text {
    margin-left: 10px;
  }
  .pr-1{
      padding-left: 8px;
  }
  

  .error-mensaje{
    padding-top: 0px;
    padding-bottom: 0px;
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
  }
