<ion-header>
  <ion-toolbar color="verde">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button disabled>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="pl-0">
      Enviar Tarjeta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div padding>
            Complete el formulario
          </div>
        </ion-col>
      </ion-row>
      <ion-row color="success" justify-content-center align-items-center>
        <ion-col size="12" align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-label position="floating">Número de la Tarjeta</ion-label>
              <ion-input type="text" name="tarjeta" [ngModel]="tarjeta | numeroTarjeta" (ionChange)="validarTarjeta($event.detail.value)">
              </ion-input>
            </ion-item>
            <div *ngIf="errores.tarjeta.valido==false">
              <div *ngIf="errores.tarjeta.requerido==true" class="error-mensaje">
                Debe colocar un numero de tarjeta
              </div>
              <div *ngIf="errores.tarjeta.soloNumero==true" class="error-mensaje">
                Solo se permiten números
              </div>
              <div *ngIf="errores.tarjeta.minimo==true" class="error-mensaje">
                Número de tarjeta invalida. Debe tener como minimo 8 numeros
              </div>
            </div>
            <ion-item>
              <ion-label position="floating">Monto a enviar</ion-label>
              <ion-input type="number" name="saldo" [(ngModel)]="saldo"></ion-input>
            </ion-item>
            <div *ngIf="errores.monto.valido==false">
              <div *ngIf="errores.monto.requerido==true" class="error-mensaje">
                Debe colocar el monto a enviar
              </div>
              <div *ngIf="errores.monto.soloNumero==true" class="error-mensaje">
                Debe colocar un monto mayor a cero.
              </div>
              <div *ngIf="errores.monto.mayorACero==true" class="error-mensaje">
                Debe colocar un monto mayor a cero.
              </div>
            </div>
            <ion-item>
              <ion-label position="floating">Correo del destinatario</ion-label>
              <ion-input type="email" name="email" [(ngModel)]="correo"></ion-input>
            </ion-item>
            <div *ngIf="errores.correo.valido==false">
              <div *ngIf="errores.correo.requerido==true" class="error-mensaje">
                Debe colocar el correo de la persona a quien desea enviar la tarjeta
              </div>
            </div>
          </div>
          <div padding text-center>
            <ion-button size="default" color="verde" type="submit" (click)="enviar()">
              <ion-icon slot="start" expand="block" name="send" text-capitalize></ion-icon> Enviar
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>